.errorText {
	text-align: center;
	color: red;
	font-family: Courier;
	font-size: 16pt;
}

.subButton {
    background: #ff0000;
	font-size: 18px;
	font-weight: bold;
}
.subButton:hover {
    background: #dd0000;
	font-size: 18px;
	font-weight: bold;
}

.errorTB {
	color: red;
}

.notifyText {
	font-style: italic;
	font-family: Helvetica;
	font-size: 12pt;
}

.regText {
	font-family: Helvetica;
	font-size: 12pt;
}

.title{
	font-family: Helvetica;
	font-size: 30pt;
	font-weight: bold;
}

.theLabels {
	font-weight: bold;
	font-family: Helvetica;
	font-size: 12pt;
}

a:link {
	font-family: Courier;
	font-size: 16pt;
	color: #AA0202;
	text-decoration: none;
}

a:visited {
	font-family: Courier;
	font-size: 16pt;
	color: #AA0202;
	text-decoration: none;
}

a:hover {
	font-family: Courier;
	font-size: 16pt;
	color: #FF0000;
	text-decoration: none;
}

a.reDLink:link {
	font-family: lucida;
	font-size: 12pt;
	color: #AA0202;
	text-decoration: none;
}
a.reDLink:visited {
	font-family: lucida;
	font-size: 12pt;
	color: #AA0202;
	text-decoration: none;
}
a.reDLink:hover{
	font-family: lucida;
	font-size: 12pt;
	color: #FF0000;
	text-decoration: none;
}
body {
	background-color: #eeeeee;
}