body { 
background: #111; 
}

.select {
position: absolute;
left: 50px;
top: 150px;
width: 300px;
}

p { 
text-align:left;
margin-left: 2em;
margin-right: 2em;
margin-top: 1em;
text-indent: 1em;
color: white;
font-family: Times;
font-size: 16px;
line-height: 200%
}

p.navigation-bar {
position: absolute;
left: 0px;
top: 30px;
width: 120px;
background-color: #111;
border: medium #111 solid;
padding: 1%;
text-align: left
}

p.navigation-bar a {
text-align:left;
}

p.navigation-bar a:link {
color: white;
text-decoration: none
}

p.navigation-bar a:visited {
color: white;
text-decoration: none
}

p.navigation-bar a:hover {
background-color: #111;
color: grey;
text-decoration: none
}

.main {
position: absolute;
left: 170px;
top: 80px;
width: 500px;
background-color: #111;
border: medium #111 solid;
padding: 1%;
text-align: left
}

h2.banner {
position: absolute;
left: 170px;
top: 0px;
width: 500px;
background-color: #111;
border: medium #111 solid;
padding: 1%;
text-align: left
}

p.text {
line-height: 100%;
margin-left: 0em;
margin-right: 0em;
margin-top: 0em;
text-indent: 0em;
}

p.text a {
color:white;
text-decoration: none;
font-style: italic;
}

p.text a:hover {
color:grey;
text-decoration: none;
font-style: italic;
}


i {
font-size: 16px;
line-height: 16px 
}

h2 {
color: red;
font-family: Times;
font-size: 150%;
text-align: left
}

h3 {
color: black;
font-family: Verdana, Arial, sans-serif;
font-size: 20px;
margin-left: 2.25em;
margin-right: 2em;
margin-top: 1em;
text-indent: 0em;
text-align: left
}


